
<h1><center>Welcome to Cred Market's Seller Platform </center>  </h1>
<br>
<p style="font-size:25px;margin-left:16cm">Enter the details of your product below to edit:</p>
<%= render "form", item: @item %> 

